p {
    font-weight: bold;
}

button {
    margin-top: 15pt;
    border-radius: 5pt;
    background-color: chartreuse;
    font-weight: bold;
    color: tomato;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: blanchedalmond;
}

#title {
    font-size: 3rem;
    text-align: center;
    padding-top:70pt;
}

#a4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#a7 button {
    float: right;
}

.num_inp {
    font-weight: bold;
    width: 1.1cm;
    background-color: #b3f5c4;
    text-align: center;
    padding-top: 0.3mm;
    border: none;
}

.outer_square {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1.5pt solid;
    border-color: darkgray;
}

.inner_square {
    background-color: #b3f5c4;
    text-align: center;
    padding-top: 4mm;
    height: 1.5cm;
    border: 0.5pt solid;
    border-width: 0.5pt;
    width: 1.5cm;
    border-color: darkgray;
}

.changed {
    color: red;
    border: none;
}